h3 {
  margin: 10px;
  text-align: center;
}
#receipt {
  height: 560px;
  width: 90%;
  margin: auto;
  line-height: normal;
  padding: 10px;
  position: relative;
  background-color: #fff;
  color: #333;
}

#receipt:before {
  content: ' ';
  display: block;
  color: #ffffff;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  left: 0;
  background: linear-gradient(
      45deg,
      #fff 33.333%,
      transparent 33.333%,
      #000 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg,
      transparent 33.333%,
      transparent 33.333%,
      transparent 66.667%,
      #fff 66.667%
    );
  background-size: 14px 31px;
}

#receipt .inner {
  overflow: auto;
  height: 488px;
  padding: 10px 0;
  font-size: 0.9em;
  font-weight: 600;

  .item {
    margin-top: 15px;
  }

  .item-name {
    width: 212px;
  }

  .optionset {
    margin-left: 20px;
  }
  .option-name {
    width: 180px;
  }

  .totals {
    margin-top: 20px;
  }
  .grandtotal {
    font-weight: 600;
    color: #990000;
  }
}

#receipt .side-buttons {
  height: 60px;
  width: 250px;
  margin: 0 auto;

  i {
    font-size: 56px;
    color: #333;
  }
}

#receipt .side-buttons > div {
  float: left;
  width: 50%;
  text-align: center;
}

.paper {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/***** SIDE BUTTONS *****/
.side-buttons {
  color: #e8ae91;
  width: 250px;
  height: 96px;
  margin: 25px auto 0 auto;

  .noselect {
    float: left;
    width: 50%;
    text-align: center;
  }
  i {
    font-size: 64px;
  }
}
