#header {
  height: 40px;
  position: relative;

  h2 {
    text-align: center;
    margin: 10px;
    font-size: 30px;
  }
}

.prod-container {
  height: 676px;
  height: 578px;
  margin: 10px;
}

.quantity.center {
  position: absolute;
  left: 50%;
  top: 47%;
  text-align: left;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.quantity {
  i {
    background: #fff;
    font-size: 2em;
    padding: 0.25em;
    position: relative;
    top: -4px;
    color: #333;
    border: 3px solid #333;
  }
  input {
    font-size: 2.5em;
    width: 3em;
    padding: 0 0.3em;
    text-align: center;
  }
}

.box {
  width: 22.2%;
  margin: 1.4%;
  float: left;
  background: #fff;
  position: relative;
  border-radius: 11px;
  font-size: 0.95em;
  line-height: 0.9em;

  .name > div {
    text-align: center;
    width: 100%;
  }
  img {
    position: absolute;
    bottom: 7%;
    left: 5%;
    right: 5%;
    object-fit: cover;
    width: 90%;
    height: 65%;
  }
}

.box.category {
  height: 22.2%;

  .name {
    position: absolute;
    width: 100%;
    height: 25%;
    color: #333;
  }
}

.box.product {
  height: 22.2%;
  cursor: pointer;

  .text-container {
    width: 100%;
    height: calc(100% - 32px);
    position: relative;
    color: #333;
  }

  .price-container {
    height: 32px;
    background: #c66;
    color: #fff;
    border-radius: 0 0 11px 11px;
    position: relative;

    div {
      width: 100%;
      text-align: center;
    }
  }
}

.prod-container.modifier {
  .text-container {
    background: #ffdddd;
    border-radius: 11px 11px 0 0;
  }
  .price-container {
    background: #a66;
  }
}

div.checks {
  position: absolute;
  z-index: 1;
}
div.checks i {
  position: absolute;
  font-size: 50px;
  text-shadow: -1px -1px #dddd00;
  top: -20px;
  left: -14px;
  color: #900;
  font-weight: bold;
}

/* Navigation */
div.category.next {
  background: transparent;
  position: relative;
  left: 50%;
  transform: translate(-50%, -12px);
  top: 50px;

  .inner-box {
    position: absolute;
    text-align: center;
    color: #fff;
    left: 50%;
    top: 50%;
    font-size: 1.2em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  i {
    font-size: 56px;
    text-align: center;
  }
}

/* REVIEW AND UPSELL */
.prod-container.upsell {
  margin: 2em auto 4em auto;
  width: 337px;
  height: 272px;

  .box.category {
    width: 47.2%;
    height: 47.2%;
    margin: 1.4%;
  }
}
button.another {
  width: 50%;
  padding: 1em;
  color: #fff;
  font-size: 1.4em;
  margin: 0.5em auto;
}
#footer {
  position: absolute;
  bottom: 35px;
  left: 10px;
  right: 10px;
  width: 100%;

  .heretogo {
    margin: 12px;
  }

  button.complete {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 1.7em;
    color: #fff;
    border: none !important;
    background-color: #ff6666;
    text-decoration: none;
  }
}
