body {
  background-color: #000;
  font-family: $font-family;
}

#app {
  width: 1024px;
  height: 768px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

/* Layout */
// The app container. Applies to all pages
#main-container {
  width: 1024px;
  height: 768px;
}
// The home screen container. Applies to Home Screens
#home-container {
  width: 100%;
  height: 100%;
  position: relative;
}

// The view container box on the left side of receipt
#view-container {
  position: absolute;
  height: 100%;
  width: 695px;
}

// Receipt container
#receipt-container {
  height: 100%;
  width: 324px;
  position: absolute;
  right: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.navbar {
  border-bottom: 4px solid dodgerblue;
}
