.vcenter {
  position: absolute;
  top: 50%;
  text-align: left;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pull-right {
  float: right;
}
.fullbox {
  position: relative;
  height: 100%;
  width: 100%;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button,
button:hover,
a:hover {
  text-decoration: none !important;
}
