@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Cabin-regular/Cabin-regular.eot');
  src: url('assets/fonts/Cabin-regular/Cabin-regular.eot?#iefix') format('embedded-opentype'),
       local('Cabin'),
       local('Cabin-regular'),
       url('assets/fonts/Cabin-regular/Cabin-regular.woff2') format('woff2'),
       url('assets/fonts/Cabin-regular/Cabin-regular.woff') format('woff'),
       url('assets/fonts/Cabin-regular/Cabin-regular.ttf') format('truetype'),
       url('assets/fonts/Cabin-regular/Cabin-regular.svg#Cabin') format('svg');
}

@font-face {
  font-family: 'Cabin';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/Cabin-600/Cabin-600.eot');
  src: url('assets/fonts/Cabin-600/Cabin-600.eot?#iefix') format('embedded-opentype'),
       local('Cabin SemiBold'),
       local('Cabin-600'),
       url('assets/fonts/Cabin-600/Cabin-600.woff2') format('woff2'),
       url('assets/fonts/Cabin-600/Cabin-600.woff') format('woff'),
       url('assets/fonts/Cabin-600/Cabin-600.ttf') format('truetype'),
       url('assets/fonts/Cabin-600/Cabin-600.svg#Cabin') format('svg');
}